@{
    ViewData["Title"] = "About ";
}

@section Styles {
    <link rel="stylesheet" href="~/css/About.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
}   

<div class="profile-page-container">
    <h1 id="ProfileDisplayUserName">About Us</h1>
    <div class="row">
        <div class="profile-card">
            <div class="profile-sidebar">
                <div class="avatar-wrapper">
                    <img src="https://scontent.fbkk7-3.fna.fbcdn.net/v/t39.30808-1/343973664_900953374529447_6502101542893511580_n.jpg?stp=dst-jpg_s160x160_tt6&_nc_cat=101&ccb=1-7&_nc_sid=e99d92&_nc_eui2=AeEHh_bEvCB4nowsxjCjIZIGFPjdGvzEd0gU-N0a_MR3SFCKrlOoWmzF89I-u__CvYv49YtShdTeEnYn80gH-NPu&_nc_ohc=lTzpJes3pv0Q7kNvwHkLsOM&_nc_oc=AdlJgS-sCDhQTEuQWac5HYZPIytW19tC_xAGdaPwdG6tQ5XdeMZCgcFfhji8FuynrLM&_nc_zt=24&_nc_ht=scontent.fbkk7-3.fna&_nc_gid=vEU-kad58b2jrJyS4pYPrg&_nc_ss=8&oh=00_AfyWkB7oXUJm9H7cXyjxATUKIIPYo-3skNQLaK8RWUga6Q&oe=69AE46E7"
                            id="ProfileDisplayUserAvatar" class="profile-image-large" alt="Avatar"/>
                </div>
            </div>

            <div class="profile-main-info">
                <div class="info-group">
                    <span class="label">Nickname</span>
                    <h1 id="ProfileDisplayUserName">Kan</h1>
                </div>
                <div class="info-group">
                    <span class="label">Full Name</span>
                    <p id="ProfileDisplayUserEmail" class="user-email-text">Phakkaphon pensiriphak</p>
                </div>
                <div class="info-group">
                    <span class="label">Student ID</span>
                    <p id="ProfileDisplayUserEmail" class="user-email-text">67010686</p>
                </div>
            </div>
        </div>

        <div class="profile-card">
            <div class="profile-sidebar"> 
                <div class="avatar-wrapper">
                    <img src="https://scontent.fbkk6-1.fna.fbcdn.net/v/t39.30808-1/473001351_3809824475996281_7359068988873527407_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=111&ccb=1-7&_nc_sid=e99d92&_nc_ohc=3n7h0ouYNjEQ7kNvwGA2uie&_nc_oc=AdlM_ttXYgSksF_MyBQn0II0WrvN3QfHqRwaa4DrXK6v6_7ly3fKh-mDpWLGEbVP8V4&_nc_zt=24&_nc_ht=scontent.fbkk6-1.fna&_nc_gid=X_FZzvFUJ_gMI6jXMHBUdA&_nc_ss=8&oh=00_AfxcMgU4flnwk4GKY7H31Wy8brTvSiU6ANIjfIUr1pcoRQ&oe=69AC87B3"
                            id="ProfileDisplayUserAvatar" class="profile-image-large" alt="Avatar"/>
                </div>
            </div>

            <div class="profile-main-info">
                <div class="info-group">
                    <span class="label">Nickname</span>
                    <h1 id="ProfileDisplayUserName">Cat</h1>
                </div>
                <div class="info-group">
                    <span class="label">Full Name</span>
                    <p id="ProfileDisplayUserEmail" class="user-email-text">Alisa-Vasiliki Catsoulis</p>
                </div>
                <div class="info-group">
                    <span class="label">Student ID</span>
                    <p id="ProfileDisplayUserEmail" class="user-email-text">67011031</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="profile-card">
            <div class="profile-sidebar">
                <div class="avatar-wrapper">
                    <img src="https://scontent.fbkk6-1.fna.fbcdn.net/v/t1.6435-1/131682447_906678186740615_1405287260129360996_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=110&ccb=1-7&_nc_sid=1d2534&_nc_ohc=yTj_qmUq6e8Q7kNvwG7v6NF&_nc_oc=AdkcZiWRob81U5zw08s2qFbssLFEiUIWVX9PU_am0gY5sphzd4iHlTzpyY7QdSS87Ws&_nc_zt=24&_nc_ht=scontent.fbkk6-1.fna&_nc_gid=6VO2-T0S-wiS2f-zeW5qVQ&_nc_ss=8&oh=00_Afyr5EN7jh04n8itFjoPcBZoKBWi_6y6RhWFr1XOxyZdTQ&oe=69CE36B2"
                            id="ProfileDisplayUserAvatar" class="profile-image-large" alt="Avatar"/>
                </div>
            </div>

            <div class="profile-main-info">
                <div class="info-group">
                    <span class="label">Nickname</span>
                    <h1 id="ProfileDisplayUserName">Pentor</h1>
                </div>
                <div class="info-group">
                    <span class="label">Full Name</span>
                    <p id="ProfileDisplayUserEmail" class="user-email-text">Pentor Henglee</p>
                </div>
                <div class="info-group">
                    <span class="label">Student ID</span>
                    <p id="ProfileDisplayUserEmail" class="user-email-text">67010585</p>
                </div>
            </div>
        </div>

        <div class="profile-card">
            <div class="profile-sidebar">
                <div class="avatar-wrapper">
                    <img src=""
                            id="ProfileDisplayUserAvatar" class="profile-image-large" alt="Avatar"/>
                </div>
            </div>

            <div class="profile-main-info">
                <div class="info-group">
                    <span class="label">Nickname</span>
                    <h1 id="ProfileDisplayUserName">Earth</h1>
                </div>
                <div class="info-group">
                    <span class="label">Full Name</span>
                    <p id="ProfileDisplayUserEmail" class="user-email-text">Suphasin ...</p>
                </div>
                <div class="info-group">
                    <span class="label">Student ID</span>
                    <p id="ProfileDisplayUserEmail" class="user-email-text">6701xxxx</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="profile-card">
            <div class="profile-sidebar">
                <div class="avatar-wrapper">
                    <img src="https://scontent.fbkk5-5.fna.fbcdn.net/v/t39.30808-1/646402702_2434056940358032_4931173555880962631_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=100&ccb=1-7&_nc_sid=e99d92&_nc_ohc=RwejkyuDGJIQ7kNvwGmEse0&_nc_oc=AdlHPZ6ziuI8BfQEVJ-6zX14QH5yLDj0YkD-D_raIht-6yLYnUWsNMhQdsqKYTQ3JQE&_nc_zt=24&_nc_ht=scontent.fbkk5-5.fna&_nc_gid=xPXM0WjZ3tiRGE5SXyH78g&_nc_ss=8&oh=00_AfxzYt_E5x28n8_3XyCUUeyA9jdiEG_F9li_OzPzvDai-w&oe=69ADEEE9"
                            id="ProfileDisplayUserAvatar" class="profile-image-large" alt="Avatar"/>
                </div>
            </div>

            <div class="profile-main-info">
                <div class="info-group">
                    <span class="label">Nickname</span>
                    <h1 id="ProfileDisplayUserName">Best</h1>
                </div>
                <div class="info-group">
                    <span class="label">Full Name</span>
                    <p id="ProfileDisplayUserEmail" class="user-email-text">Chitsanupong Preecharat</p>
                </div>
                <div class="info-group">
                    <span class="label">Student ID</span>
                    <p id="ProfileDisplayUserEmail" class="user-email-text">67010207</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
</script>
