@{
    ViewData["Title"] = "About ";
}

@section Styles {
    <link rel="stylesheet" href="~/css/About.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
}   

<div class="profile-page-container">
    <h1 id="ProfileDisplayUserName">About <span>Us</span></h1>
    <div class="row">
        <div class="profile-card">
            <div class="profile-sidebar">
                <div class="avatar-wrapper">
                    <img src="https://lh3.googleusercontent.com/d/1djUOnQI-gFCtxMdqIUQpsZsQm8iG1xRW"
                            id="ProfileDisplayUserAvatar" class="profile-image-large" alt="Kanhahaha"/>
                </div>
            </div>

            <div class="profile-main-info">
                <div class="info-group">
                    <span class="label">Nickname</span>
                    <h1 id="ProfileDisplayUserName">Kan</h1>
                </div>
                <div class="info-group">
                    <span class="label">Full Name</span>
                    <p id="ProfileDisplayUserEmail" class="user-email-text">Phakkaphon Pensiriphak</p>
                </div>
                <div class="info-group">
                    <span class="label">Student ID</span>
                    <p id="ProfileDisplayUserEmail" class="user-email-text">67010686</p>
                </div>
            </div>
        </div>

        <div class="profile-card">
            <div class="profile-sidebar"> 
                <div class="avatar-wrapper">
                    <img src="https://lh3.googleusercontent.com/d/1LXUTClZZ6GKs_TTaPNO5l0DO3cdyig4h"
                            id="ProfileDisplayUserAvatar" class="profile-image-large" alt="Nok"/>
                </div>
            </div>

            <div class="profile-main-info">
                <div class="info-group">
                    <span class="label">Nickname</span>
                    <h1 id="ProfileDisplayUserName">Cat</h1>
                </div>
                <div class="info-group">
                    <span class="label">Full Name</span>
                    <p id="ProfileDisplayUserEmail" class="user-email-text">Alisa-Vasiliki Catsoulis</p>
                </div>
                <div class="info-group">
                    <span class="label">Student ID</span>
                    <p id="ProfileDisplayUserEmail" class="user-email-text">67011031</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="profile-card">
            <div class="profile-sidebar">
                <div class="avatar-wrapper">
                    <img src="https://lh3.googleusercontent.com/d/16GUrhgyuAeDtSa8Rs_bnGwGqQg0DDdB2"
                            id="ProfileDisplayUserAvatar" class="profile-image-large" alt="pentor porten"/>
                </div>
            </div>

            <div class="profile-main-info">
                <div class="info-group">
                    <span class="label">Nickname</span>
                    <h1 id="ProfileDisplayUserName">Pentor</h1>
                </div>
                <div class="info-group">
                    <span class="label">Full Name</span>
                    <p id="ProfileDisplayUserEmail" class="user-email-text">Pentor Henglee</p>
                </div>
                <div class="info-group">
                    <span class="label">Student ID</span>
                    <p id="ProfileDisplayUserEmail" class="user-email-text">67010585</p>
                </div>
            </div>
        </div>

        <div class="profile-card">
            <div class="profile-sidebar">
                <div class="avatar-wrapper">
                    <img src="https://lh3.googleusercontent.com/d/1gC1YxODX8qy09HE-YSzdx7vAdiqA2_6f"
                            id="ProfileDisplayUserAvatar" class="profile-image-large" alt="เอิด"/>
                </div>
            </div>

            <div class="profile-main-info">
                <div class="info-group">
                    <span class="label">Nickname</span>
                    <h1 id="ProfileDisplayUserName">Earth</h1>
                </div>
                <div class="info-group">
                    <span class="label">Full Name</span>
                    <p id="ProfileDisplayUserEmail" class="user-email-text">Suphasin Rattanaphan</p>
                </div>
                <div class="info-group">
                    <span class="label">Student ID</span>
                    <p id="ProfileDisplayUserEmail" class="user-email-text">67011569</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="profile-card">
            <div class="profile-sidebar">
                <div class="avatar-wrapper">
                    <img src="https://lh3.googleusercontent.com/d/1f0I_I4ndZ_f4tPaPuK9nfBwwz0s59tQX"
                            id="ProfileDisplayUserAvatar" class="profile-image-large" alt="บักเบ้ด"/>
                </div>
            </div>

            <div class="profile-main-info">
                <div class="info-group">
                    <span class="label">Nickname</span>
                    <h1 id="ProfileDisplayUserName">Best</h1>
                </div>
                <div class="info-group">
                    <span class="label">Full Name</span>
                    <p id="ProfileDisplayUserEmail" class="user-email-text">Chitsanupong Preecharat</p>
                </div>
                <div class="info-group">
                    <span class="label">Student ID</span>
                    <p id="ProfileDisplayUserEmail" class="user-email-text">67010207</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
</script>
