@{
    ViewData["Title"] = "Dashboard";
}

@section Styles {
    <link rel="stylesheet" href="~/css/ProfileIndex.css" asp-append-version="true" />
}

<div class="profile-container">
    Profile
</div>