@{
    ViewData["Title"] = "Profile ";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Profile.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
}   

<div class="container">
    <div class="content">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" id="displayUserAvatar" class="user-avatar" alt="Avatar"/>
        <div class="profile-info">
            <h1>@ViewData["UserName"]</h1>
            <p>@ViewData["UserEmail"]</p>
            <p>@ViewData["UserBio"]</p>
        </div>
        <button class="edit-profile-btn">Edit Profile</button>
    </div>
	</div>