@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/PostBoard.css" asp-append-version="true" />
}


<div class="">
    <div>
        PostBoard
    </div>
</div>
