@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
}


<div class="text-center">
    <div>
        Find Your Fitness Community
    </div>

    <div class="search-bar">
        <input type="text" placeholder="SEARCH THE PLACE" />
        <button type="submit">SEARCH</button>
    </div>

    <button class="post-button">
    +
    </button>
</div>


