@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/HomenIdex.css" asp-append-version="true" />
}


<div class="text-center">
    <div>
        Home index
    </div>
</div>
